/* Para ver bien las casillas (Quizás provisional)
.casilla {
    border: 1px dashed black
    !!!!!!!!! AUMENTAR TAMAÑO DE CASILLA AL QUITAR BORDES !!!!!!!!!
}
-------------------------- */

@media(max-width:400px) {
    .casilla {
        display: inline-block;
        background-color: white;
        width: 4px;
        height: 4px;
    }
}

@media(min-width:401px) {
    #tablero {
        width: 2920px;
        height: 2920px;
        margin-left: 25%;
        margin-top: 20px;
    }
    .casilla {
        /* display: inline-block; */
        background-image: url("Textures/casilla.png");
        width: 73px;
        height: 73px;
        float: left;
    }
    .serpiente {
        /* background-image:url('Textures/cabezaSerpienteAbajo.png'); */
        background-size: contain;
    }
}